/** Font Styles **/
/* font-family: 'Rammetto One', cursive;
font-family: 'Aref Ruqaa', serif; */


/** Colors Used **/
/* #fff  
#f88dad
#8390fa 
#1d2f6f  */


* {
    box-sizing: border-box;
} 

body {
    background: linear-gradient(#f88dad, #8390fa); 
    margin: 0;
}


/** Header **/

.header {
    /* width: 600px; */
    text-align: center;
    color: #fff;
    padding: 10px;
    margin: 60px auto;
    font-family: 'Rammetto One', cursive;
    letter-spacing: 2px;
    text-shadow: 0 0 3px #1d2f6f;
}

.photo {
    width: 200px;
    border: 8px dotted #1d2f6f;
    border-radius: 50%;
}

.bday-age, .bday-date {
    font-size: 25px;
}


/** Gift Section **/

.gift-section {
    /* width: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Aref Ruqaa', serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
    text-shadow: 0 0 3px #1d2f6f;
}

.gift-hint {
    margin-top: 0; 
} 

.gift-image {
    background-image: url(/img/happy-birthday.png);
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
}

#happy-gif:hover {
    background-image: url(https://media.giphy.com/media/f9RHPRFxJhKTF0MQth/giphy.gif);
}

#reaction-gif:hover {
    background-image: url(https://media.giphy.com/media/YnBntKOgnUSBkV7bQH/giphy.gif);
}

#describe-gif:hover {
    background-image: url(https://media.giphy.com/media/uNvXBlop4OLwhkPQUS/giphy.gif);
}

#badass-gif:hover {
    background-image: url(https://media.giphy.com/media/9qMIBqOJrtvfW/giphy.gif);
}

#cheers-gif:hover {
    background-image: url(https://media.giphy.com/media/BPJmthQ3YRwD6QqcVD/giphy.gif);
}


/** Footer **/

footer {
    background-color: #1d2f6f;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    margin-top: 60px;
    font-family: 'Aref Ruqaa', serif;
    letter-spacing: 2px;
}